<mat-tab-group>
    <mat-tab label="Import Data">
        <app-import-data></app-import-data>
    </mat-tab>
    <mat-tab label="Manage Company">
        <app-manage-company [adminView]=true></app-manage-company>
    </mat-tab>
    <mat-tab label="Manage Exchange">
        <app-manage-exchange></app-manage-exchange>
    </mat-tab>
    <mat-tab label="Manage IPO">
        <app-manage-ipo [adminView]=true></app-manage-ipo>
    </mat-tab>
    <mat-tab label="Upload Status">
        <app-upload-status></app-upload-status>
    </mat-tab>
</mat-tab-group>
