<button mat-stroked-button (click)="refresh()" class="pageWidthButton">Refresh</button>
<br/>
<table mat-table [dataSource]="datasource">

    <ng-container matColumnDef="companyName">
        <th mat-header-cell *matHeaderCellDef> Company Name </th>
        <td mat-cell *matCellDef="let obj"> {{obj.companyName}} </td>
    </ng-container>

    <ng-container matColumnDef="exchange">
        <th mat-header-cell *matHeaderCellDef> Exchange </th>
        <td mat-cell *matCellDef="let obj"> {{getExchangeList(obj)}} </td>
    </ng-container>

    <ng-container matColumnDef="sector">
        <th mat-header-cell *matHeaderCellDef> Sector </th>
        <td mat-cell *matCellDef="let obj"> {{obj.sector.name}} </td>
    </ng-container>

    <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef> {{isAdmin ? 'Details' : 'Actions'}} </th>
        <td mat-cell *matCellDef="let obj"> 
            <button *ngIf="isAdmin" mat-stroked-button (click)="detailsOf(obj)">View</button> 
            <div *ngIf="!isAdmin">
                <button mat-stroked-button (click)="userViewDetailsOf(obj)">Details</button> &nbsp; 
                <button mat-stroked-button (click)="viewChart(obj)">Chart</button> &nbsp;
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<button *ngIf="moreData" mat-stroked-button (click)="getMore()" matTooltip="Display More" class="pageWidthButton">...</button>
<button *ngIf="isAdmin" mat-stroked-button (click)="detailsOf(null)" class="pageWidthButton">Add New Exchange</button>